<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <!--spring mvc上下文-->
    <import resource="spring/spring-mvc-context.xml"/>
    <import resource="dao/mysql-datasource.xml"/>

    <context:annotation-config/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <!-- Controller注解的bean由view-servlet.xml统一管理 -->
    <context:component-scan base-package="com.anonymous.whale">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--取代context:property-placeholder，因为这种方式可以指定编码，从而可以使用中文的属性值-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="false"/>
        <property name="locations">
            <list>
                <value>classpath*:config/*config.properties</value>
            </list>
        </property>
        <!-- 可注入中文 -->
        <property name="fileEncoding" value="UTF-8"/>
    </bean>
</beans>